.App {
  /* text-align: center; */

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#logoBox{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffffff;
  box-shadow:  0px 8px 24px rgba(0, 0, 0, 0.041);

  height: 72px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;


}
.stickyDiscountBox{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #90CAF9;
  height: 56px;
  width: 100%;
  left: 0px;
  top: 0px;
  border-radius: 0px;

}
.sticky-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 24px;
  width: 306px;
  left: 569px;
  top: 16px;
  border-radius: 0px;
  /* background-color: #a1f990; */
  color: #FFFFFF;


  font-family: SF Pro Text;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

  font-family: SF Pro Text;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;


  font-family: SF Pro Text;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

  
}
.Content{
  /* Auto layout */
  /* background-color: aqua; */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
width: 1120px;
height: 3583px;
/* left: 160px; */
top: 176px;
}

.statisticBox{
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 730px;
height: 84px;
left: 195px;
top: 0px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;
}

.programs-box{
/* Auto layout */
/* background-color: #61dafb23; */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 1120px;
/* height: 887px; */
left: 0px;
top: 0px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
/* margin: 48px 0px; */
}

.Component1{
  /* Auto layout */
background-color: rgba(134, 134, 214, 0.034);


display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 730px;
height: 84px;
/* left: 195px; */
top: 0px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
/* margin: 32px 0px; */
}


.Component2{
  /* Auto layout */
/* background-color: coral; */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 1px;

position: static;
width: 729px;
height: 771px;
left: 195.5px;
top: 116px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
}

.leftBox{
  /* background-color: aquamarine; */
  /* Auto layout */

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
align-content: flex-start;
justify-items: flex-start;
padding: 0px;

position: static;
left: 0.14%;
right: 51.58%;
top: 0%;
bottom: 0%;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
/* margin: 0px 32px; */
}

.rightBox{
  /* background-color: #61dafb; */
  /* Auto layout */

/* Auto layout */

display: flex;
flex-direction: column;
/* align-items: flex-start;
align-items: flex-start;
justify-content: flex-start;
align-content: flex-start;
justify-items: flex-start;
padding: 0px;

position: static;
left: 52.81%;
right: 0.14%;
top: 0%;
bottom: 28.15%; */


/* Inside auto layout */
/* 
flex: none;
order: 1;
flex-grow: 0; */
margin: 0px 32px;
}

.textComp2{
  /* It just got easier t */


position: static;
width: 730px;
height: 56px;
left: calc(50% - 730px/2);
top: calc(50% - 56px/2 + 14px);

/* Heading 1/H1 Desktop */

font-family: SF Pro Display;
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 56px;
/* identical to box height, or 140% */

text-align: center;

color: #22222C;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}

.textComp1{
  /* It just got easier t */


position: static;
width: 343px;
height: 20px;
left: calc(50% - 343px/2);
top: calc(50% - 20px/2 - 32px);

/* Paragraph Small/P Small Desktop */

font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-align: center;

/* Grey */

color: #22222C;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
/* margin: 8px 0px; */
}

.ListItem{
  /* background-color: violet; */
  
/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 343px;
/* height: 48px; */
left: calc(50% - 343px/2);
top: calc(50% - 48px/2 - 213px);


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px 10px 0px;
}

.trialText{
  position: static;
width: 352px;
left: calc(50% - 352px/2);
top: 74.84%;
bottom: 15.82%;

/* Caption Mobile */

font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
/* or 150% */

text-align: center;

/* Black */

color: #39353C;


/* Inside auto layout */

flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}

.privacyText{
  position: static;
width: 352px;
left: calc(50% - 352px/2);
top: 86.25%;
bottom: 9.08%;

/* Caption Mobile */

font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
/* or 150% */

text-align: center;

/* Black */

color: #39353C;


/* Inside auto layout */

flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}

.leftBoxText1{
  /* It just got easier t */


/* position: static; */
width: 352px;
height: 64px;
left: calc(50% - 352px/2);
top: calc(50% - 64px/2 - 353.5px);

/* Heading 3/H3 Desktop */

font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* or 133% */


/* Grey */

color: #22222C;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0PX 0PX 16px 0px;
}

.Frame3066{
  /* Auto layout */
  /* background-color: #3f3833; */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 352px;
height: 409px;
left: 0px;
top: 80px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
/* margin: 16px 0px; */
}

.planItem{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
/* padding: 16px; */

position: absolute;
width: 352px;
height: 131px;
/* left: 0px;
top: 0px; */

/* White */

background: #FFFFFF;
/* Primary */

border: 2px solid rgba(0, 0, 0, 0.08);
box-sizing: border-box;
border-radius: 16px;
}
.planItemSelected{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 16px; */
  
  position: absolute;
  width: 352px;
  height: 131px;
  /* left: 0px;
  top: 0px; */
  
  /* White */
  
  background: #FFFFFF;
  /* Primary */
  
  border: 2px solid #FF9B4E;
  box-sizing: border-box;
  border-radius: 16px;
  }

.planContentBox{
/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;


}

.plantLeftContSide{
  /* Auto layout */
  /* background-color: #90CAF9; */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 292px;
height: 99px;
left: 0px;
top: 0px;


/* Inside auto layout */

margin: 0px 4px;
}

.plantRightContSide
{
  /* circle */
  display: flex;
/* background-color: #61d622; */


}

.AnotherBox{
  position: static;
width: 352px;
height: 131px;
left: 0px;
top: 278px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 0px 0px 8px;
}
.AnotherBox:hover{
  cursor: pointer;
  background-color: #ff9b4e67;
}

.pricesNdiscount{
  /* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
/* width: 96px; */
left: 0px;
top: 0%;
bottom: 75.76%;


/* Inside auto layout */


}
.prices{
  /* Prices */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 292px;
height: 68px;
left: 0px;
top: 31px;



}
.Frame2724{
  /* Auto layout */

display: flex;
flex-direction: row;
/* align-items: center; */
padding: 0px;

position: static;
width: 292px;
height: 44px;
left: 0px;
top: 0px;



}
.Frame2724period{
  /* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 292px;
height: 20px;
left: 0px;
top: 48px;


/* Inside auto layout */


}

.Frame2724periodtext1{
  font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-decoration-line: line-through;

flex: none; order: 0; flex-grow: 0; margin: 0px 8px 0px 0px;

}
.Frame2724periodtext2{
  font-family: 'SF Pro Text';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
color: #FF9B4E;

}

.Frame2724periodtext3{
  font-family: 'SF Pro Text';
  font-style: normal;
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 20px;
  /* color: #FF9B4E; */
}

.Frame2724period1monthplantext{
  font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
}

.Frame2724text2{
  position: static;
  left: 37.67%;
  right: 44.86%;
  top: 27.27%;
  bottom: 0%;
  
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  /* identical to box height, or 225% */
  
  display: flex;
  align-items: flex-end;
  
  /* Grey */
  
  color: #22222C;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 4px;
}

.Frame2724text1{
  



/* $1.11 */


position: static;
left: 0%;
right: 63.7%;
top: 0%;
bottom: 0%;

/* Heading 2/H2 Desktop */

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 44px;
/* identical to box height, or 138% */


/* Grey */

color: #22222C;



}


.getYourPlan{
  /* Auto layout */
  position:relative;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 40px;

position: static;
width: 352px;
height: 56px;
left: 0px;
top: 505px;

/* Primary */

background: #FF9B4E;
/* Button Shadow */

box-shadow: 0px 16px 32px rgba(255, 155, 78, 0.24);
border-radius: 8px;
border: none;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 16px 0px;
}

.getYourPlan:hover{
  background: #ff9b4ed8;
cursor: pointer;
}
.getYourPlanText{
  
  font-family: 'SF Pro Text';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: -0.4px;

/* White */

color: #FFFFFF;

text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.textTrial{
  font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

text-align: center;

/* Black */

color: #39353C;
}
.privacyText{
  font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

text-align: center;

/* Black */

color: #39353C;
}

.Image48{
  position: static;
width: 352px;
left: calc(50% - 352px/2);
top: 93%;
bottom: 0%;

/* background: url(image.png); */

/* Inside auto layout */

flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
}

.whatsMyProgram{
  position: static;
width: 343px;
left: calc(50% - 343px/2);
top: 0%;
bottom: 94.22%;

/* Heading 3/H3 Desktop */

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


/* Grey */

color: #22222C;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0PX 0PX 48px 0px;
}

.Frame2528{
  /* Auto layout */

display: flex;
flex-direction: column;
/* align-items: flex-start;
padding: 0px;

position: static;

height: 42px; */
left: 64px;
top: 0px;
width: 279px;


/* background-color: yellow; */

}
.programIcon{
  position: static;
width: 48px;
height: 48px;
left: 0px;
top: 0px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px 0px 0px;
}

.Frame2528Item1{


/* Heading 5/H5 Desktop */

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: -0.4px;

/* Grey */

color: #22222C;


}

.Frame2528Item2{

  
  /* Caption/Caption Desktop */
  
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  
  
  /* Grey */
  
  color: #22222C;
  
  opacity: 0.64;

}

.ClientBox{
/* background-color: #61dafb; */
position: static;
margin: 24px 0px;
left: calc(50% - 989px/2);

position: static;
width: 989px;
top: 0%;
bottom: 95.17%;
flex: none;
/* text-align: center; */
  
}
.ClientTitleBox{
  width: 100%;
  /* background-color: #22222C; */
  display: flex;
  justify-content: center;
}

.ClientBoxTitle{

/* Heading 3/H3 Desktop */

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

text-align: center;

/* Grey */

color: #22222C;


/* Inside auto layout */

/* order: 0;
align-self: stretch;
flex-grow: 0; */

}

.Frame3068{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

position: static;
width: 989px;
height: 607px;
left: 0px;
top: 56px;
/* background-color: #FF9B4E; */

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}

.Frame3068Item{
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

position: static;
/* width: 319px; */
height: 607px;
left: 0px;
top: 0px;

/* White */

background: #FFFFFF;
/* Card-shadow */

box-shadow: 0px 16px 32px rgba(57, 53, 60, 0.08);
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 8px;
}

.Frame2704{

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;



/* Inside auto layout */

}

.UserInfo{
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
/* width: 69px; */
height: 38px;
/* left: 0px;
top: 0px; */


/* Inside auto layout */

flex: none;
/* order: 1;
flex-grow: 0;
margin: 0px 16px; */
}
.ClienName{/* Heading 5/H5 Mobile */

  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  /* identical to box height, or 133% */
  
  letter-spacing: -0.4px;
  
  /* Grey */
  
  color: #22222C;
  
  mix-blend-mode: normal;}

  .ClientInfo{
    /* Caption/Caption Mobile */

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* identical to box height, or 150% */


/* Grey */

color: #22222C;

mix-blend-mode: normal;
opacity: 0.64;
  }

  .ClientFrame{
    position: static;
width: 153.53px;
height: 153px;
left: 0px;
top: 94px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
margin: 16px 0px;
  }

  .ClientImg{
    position: absolute;
/* width: 474px;
height: 472.36px;  */
/* left: -314.5px;
top: -13px; */


  }

  .ClientReview{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    
    
    /* Grey */
    
    color: #22222C;
    
    mix-blend-mode: normal;
margin: 16px 0px;

  }

  .Frame2702{
    /* display: flex; */
/* flex-direction: column; */
align-items: flex-start;
padding: 0px;

position: static;
width: 287px;
height: 503px;
left: 16px;
top: 16px;


/* Inside auto layout */


  }


  .Frame3107{
    /* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 734px;
height: 422px;
left: 193px;
top: 1750px;


/* Inside auto layout */

flex: none;
order: 3;
flex-grow: 0;
margin: 48px 0px;
  }

  .Frame3106Text{
    position: static;
width: 350px;
left: calc(50% - 350px/2 - 0.5px);
top: 0%;
bottom: 92.42%;

/* Heading 3/H3 Desktop */

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


/* Grey */

color: #22222C;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
  }

  .PhonesImage
{
  width: 
  157.77px;
  height: 325.79px;
}

.Frame3106{
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 351px;
height: 422px;
left: 0px;
top: 0px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 32px;
}


.FaqTitle{
  position: static;
width: 736px;
left: calc(50% - 736px/2);
top: 0%;
bottom: 91.21%;

/* Heading 3/H3 Desktop */

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

text-align: center;

/* Grey */

color: #22222C;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 8px 0px;
}

.FaqTitleBox{

}

.FaqBox{
  /* Frame 3072 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 736px;
/* height: 364px; */
left: 192px;
top: 2220px;


/* Inside auto layout */

flex: none;
order: 4;
flex-grow: 0;
margin: 48px 0px;
}

.FaqItem{
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 736px;
/* height: 132px; */
left: 0px;
top: 40px;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.08);
box-sizing: border-box;
border-radius: 16px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}

.Frame2654{
  
/* Auto layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px;

position: static;
/* width: 736px; */
height: 56px;
left: 0px;
top: 0px;

border-radius: 8px 8px 0px 0px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}

.Frame2654:hover{
  cursor: pointer;
}

.Frame2653{/* Frame 2653 */


  /* Frame 2653 */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 16px 16px;

position: static;
width: 736px;
/* height: 76px; */
left: 0px;
top: 56px;

border-radius: 0px 0px 8px 8px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;}

  .Frame2654Text{
    position: static;
width: 664px;
height: 24px;
left: 16px;
top: 16px;

/* Heading 5/H5 Desktop */

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: -0.4px;

/* Grey 900 */

color: #212121;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
/* margin: 0px 118px; */
  }

.Frame2653Text{
 /* Weight loss */


position: static;
width: 704px;
height: 60px;
left: 16px;
top: 0px;

/* Paragraph Small/P Small Desktop */

font-family: 'SF Pro Text';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */


/* Grey 900 */

color: #212121;

mix-blend-mode: normal;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}